header {
  background: var(--primary);
  color: #fff;
  padding: 1rem;
}
nav {
  display: flex;
  column-gap: 2rem;
  margin-bottom: 2rem;
}
nav .link {
  text-decoration: none;
  color: var(--secondary);
}